body {
  font-family: "AirbnbCerealBook", sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: white;
  opacity: 0.8;
}

.Area {
  box-sizing: border-box;
  border: 4px solid pink;
  margin: 0.5rem auto;
  width: 500px;
  height: 500px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
}

.row {
  display: "flex";
  line-height: 32px;
  height: 32px;
}

.box {
  padding-top: 25px;
  background-color: #eee;
}
